hr {
    border-top: 1px solid #343a40;
}

.header {
    background-color: #343a40;
    color: white;
}

.name {
    font-size: 2rem;
}

.category {
    font-size: 1.5rem;
    font-weight: 400;
}

.header a {
    color: rgba(255,255,255,0.6) !important;
}

.header a:hover {
    color: white !important;
}

.title, .subtitle {
    color: #343a40;
}

.title {
    text-transform: uppercase;
}